* {
            padding: 0;
            margin: 0;
        }

        body {
            background-color: #666;
            transition: all .5s;
        }

        li {
            list-style: none;
        }

        a {
            color: #666;
            text-decoration: none;
        }

        .w {
            width: 1200px;
            margin: 0 auto;
        }