*{
    padding: 0;
    margin: 0;
}
input {
    border: none;
}
li {
    list-style: none;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
h1 {
	font-size:0px;
    width:0px;
    height:0px;
}


.chatBox {
    width: 850px;
    height: 590px;
    border: 1px solid #000;
    margin: 100px auto;
}

.chatBox .left {
    float: left;
    height: 100%;
    width: 60px;
    background-color: #27292D;
    text-align: center;
}
.chatBox .left div {
    margin-top: 25px;
    cursor: pointer;
}


.chatBox .center {
    float: left;
    height: 100%;
    width: 250px;
    /* background-color: #EEEAE8; */
}
.chatBox .center .c1 {
    width: 230px;
    height: 60px;
    background-color: #EEEAE8;
    padding: 0 10px;
    overflow: hidden;
}
.chatBox .center .c1 .search {
    height: 27px;
    margin-top: 25px;
}
.chatBox .center .c1 .search input {
    height: 25px;
    width: 190px;
    border: 1px solid #D8D6D6;
    text-indent: 5px;
    background: #E5E3E2 url('../img/c0.png') no-repeat right center;
}
.chatBox .center .c1 .search a {
    float: right;
    width: 25px;
    height: 25px;
    line-height: 23px;
    background-color: #E6E3E2;
    border: 1px solid #D8D6D6;
    color: #585858;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}
.chatBox .center .c2 {
    height: 530px;
    background-color: #F0EFEE;
     overflow-y: auto; 
}
.chatBox .center .c2::-webkit-scrollbar {
    width: 8px;
}
.chatBox .center .c2:hover::-webkit-scrollbar-thumb {
    background-color: #d2d2d2;
    border-radius: 5px;
}
.chatBox .center .c2 ul {
    /* margin-top: 10px; */
    overflow: hidden;
}
.chatBox .center .c2 ul li {
    height: 40px;
    padding: 12px;
    font-size: 12px;
}
.chatBox .center .c2 ul li:hover {
    background-color: #dfdcdb;
}
.chatBox .center .c2 ul li.active {
    background-color: #c4c5c6;
}
.chatBox .center .c2 ul li img {
    height: 40px;
    width: 40px;
    vertical-align: bottom;
    float: left;
}
.chatBox .center .c2 ul li span:nth-of-type(1){
    float: left;
    margin-left: 5px;
    width: 80px;
    color: #000000;
}
.chatBox .center .c2 ul li span:nth-of-type(2){
    float: right;
    margin-right: 5px;
    width: 80px;
    text-align: right;
    color: #999999;
}
.chatBox .center .c2 ul li span:nth-of-type(3){
    float: left;
    margin-left: 5px;
    margin-top: 8px;
    width: 150px;
    color: #999999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}





.chatBox .right {
    float: left;
    height: 100%;
    width: 540px;
    background-color: #F5F5F5;
}
.chatBox .right .r1 {
    height: 60px;
    border-bottom: 1px solid #E7E7E7;
}
.chatBox .right .r1 .name{
    float: left;
    width: 100px;
    height: 100%;
    line-height: 80px;
    font-size: 18px;
    text-align: center;
}
.chatBox .right .r1 .tools {
    float: right;
    width: 440px;
}
.chatBox .right .r1 .tools span {
    float: right;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 5px;
}
.chatBox .right .r1 >span {
    float: right;
    font-size: 20px;
    margin-right: 10px;
}
.chatBox .right .r2 {
    height: 340px;
    padding: 20px 20px 20px 30px;
    overflow-y: auto;
    display: none;
}
.chatBox .right .r2.active {
    display: block;
}
.chatBox .right .r2::-webkit-scrollbar {
     width: 8px; 
    background-color:transparent;
    
}
.chatBox .right .r2:hover::-webkit-scrollbar-thumb{
    background-color:#d2d2d2;
        border-radius:5px;
}
.chatBox .right .r2 .mine {
     /* height: 50px;  */
     width: 100%;
    padding: 5px 0;
}
.chatBox .right .r2 .mine img {
    float: right;
    width: 40px;
    height: 40px;
}
.chatBox .right .r2 .mine span {
    float: right;
    background-color: #9eea6a;
    line-height: 30px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 10px;
    max-width:350px;
}
.chatBox .right .r2 .robot {
     height: 50px; 
     width: 100%;
    padding: 8px 0;
}
.chatBox .right .r2 .robot img {
    float: left;
    width: 40px;
    height: 40px;
}
.chatBox .right .r2 .robot span {
    float: left;
    background-color: #fff;
    line-height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #E7E7E7;
    max-width:350px;
}





.chatBox .right .r3 {
    height: 148px;
    border-top: 1px solid #E7E7E7;
    position: relative;
}
.chatBox .right .r3 .top {
    height: 35px;
}
.chatBox .right .r3 .top .tools {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}
.chatBox .right .r3 .top .phone {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}
.chatBox .right .r3 textarea {
    width: 500px;
    height: 70px;
    outline: none;
    resize: none;
    border: none;
    background-color: transparent;
    padding: 0px 30px 20px 20px;
    font-size: 16px;
    overflow: hidden;
}
.chatBox .right .r3 input {
    position: absolute;
    bottom: 10px;
    right: 20px;
    border: 1px solid #E7E7E7;  
    line-height: 25px;
    width: 70px;
    text-align: center;
    background-color: transparent; 
    cursor: pointer;
    outline: none;
}
.chatBox .right .r3 input:hover {
    background-color: #2AA146;
    color: #fff;
}